<div class="text-center">Contact Us</div>

<div class="card  .mx-auto" style="width: 25rem;">
    <div class="inner-card">
        <img class="card-img-top" src="../assets/purvi.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Purvi Poonia</h5>
            <p class="card-text">Roll no: 190050087</p>
            <a href = "mailto: purvipoonia@cse.iitb.ac.in">Email : purvipoonia@cse.iitb.ac.in</a>
        </div>
    </div>
    <div class="inner-card">
        <img class="card-img-top" src="../assets/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pragya Baran</h5>
            <p class="card-text">Roll no: 190050090</p>
            <a href class="card-text">purvipoonia@cse.iitb.ac.in</a>
        </div>
    </div>
   
</div>

