.card-img-top{
    height:200px;
    border-radius: 50%;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
}
.inner-card{
    border:2px solid black;
}