
<div class="text-center contactus">Contact Us</div>

<div class="card overall">
    <div class="inner-card indicon">
        <img class="card-img-top indiimg" src="../assets/purvi.jpg" alt="Card image cap">
        <div class="card-body info">
            <p class="card-title names">Purvi Poonia</p>
            <p class="card-text roll">Roll no: 190050087</p>
            <a href = "mailto: purvipoonia@cse.iitb.ac.in" class="card-text mail">Email : purvipoonia@cse.iitb.ac.in</a>
        </div>
    </div>
    <div class="inner-card indicon">
        <img class="card-img-top indiimg" src="../assets/pragya.jpg" alt="Card image cap">
        <div class="card-body info">
            <p class="card-title names">Pragya Baran</p>
            <p class="card-text roll">Roll no: 190050090</p>
            <a href = "mailto: pragya@cse.iitb.ac.in" class="card-text mail">Email : pragya@cse.iitb.ac.in</a>
        </div>
    </div>
   
</div>
